.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e4053;
  color: #d5d8dc;
  font-weight: 600;
}


.spacer {
  flex: 1;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: right;
}

.toolbar img {
  flex-direction:column;
  margin: 0 16px;
  height: 30px;
  width: 150px;
  align-items: center;
  justify-content: center;
}

.toolbar #twitter-logo {
  display: flex;
  height: 40px;
  margin: 0 8px;
  right: 0px;
  justify-content: flex-end;
  align-items: center;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;

}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}
